div.banner {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(-10deg);
}
